#root {
  max-width: 2560px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    text-decoration: none;
    color: inherit; 
  }
  ul{
    margin-bottom: 0;
    padding-left: 0;
  }
}
body {
  font-family: var(--font-family);
  h2 {
    margin: 40px; 
  }
}

// stylowanie Gallery
.grid {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;    
}
.box_img {
  width: 31%;
  margin: 1%;    
}
@media (min-width: 481px) and (max-width: 1023px) {
  .box_img {
    width: 48%;   
    
  }
}
@media (max-width: 480px) {
  .box_img {
    width: 100%; 
  }  
}

.box_img img {
 
  width: 100%;
  height: 250px; 
  object-fit: cover;
  border-radius: 2%;
  transition: filter 0.3s ease;
}
@media (max-width: 480px){
  .box_img img {
    height: 300px;
  }
}

.box_img:hover img {
  filter: brightness(70%); /* Zaciemnienie obrazu do 70% jasności */
}
.justify-content-center {
  margin-top: 35px;
}
.p-galleria-item {
  img {
    height: 100vh;
  }
}

// stylowanie buttona zapraszamy
.btn-lg {
  transition: filter 0.3s ease;
}
.btn-lg:hover {
  filter: brightness(10%);
}

